* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



/* Header styling */
header {
    height: 10%;
    background-color: #679436;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 100px;
}

.tabs {
    color: #ebf2fa;
    background-color: #05668d;
    font-weight: 600;

    border: 2px solid #ebf2fa;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    text-align: center;
    height: 70%;
    width: 120px;
    padding: 15px 20px;
    font-size: 1.1rem;
}

.tabs:hover {
    cursor: pointer;
}

.selected {
    color: #427aa1;
    background-color: #ebf2fa;
    border-color: #427aa1;
}




/* Content styling */
#main {
    background-color: #ebf2fa;
    background-image: url("./assets/atom.jpg");
    background-repeat: round;


    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#content {
    width: 60%;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    background-color: #ebf2fa;

    border: 2px solid #a5be00;
    border-top: none;
    border-bottom: none;
}

.card {
    background-color: #427aa1;
    
    width: 80%;
    margin: 20px auto;
    padding: 10px;

    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}

.card ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}



/* Footer styling */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;

    background-color: #05668d;
    color: white;

    height: 10%;
    font-size: 1.25rem;
    font-weight: 600;
}